#mainContainer{
    -fx-background-color: antiquewhite;
}
#title{
    -fx-font-size: 28px;
    -fx-font-weight: 700;
}
Label {
     -fx-font-weight: 700;
 }


Button{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-margin: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
Button:hover{
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#fbf7fe 0%, #eaf1fd 49%, #cff7fe 50%, #b8eaf6 100%);
}

#boardContainer{
    -fx-background-color: #ffe699;
}
#boardContainer AnchorPane{
    -fx-background-color: blue;
}
#splitpane{
    -fx-background-color: antiquewhite;
    -fx-min-width: 100%;
    -fx-min-height: 100%;
}

